Package: titandork
Version: 1.0
Section: utils
Priority: optional
Architecture: all
Essential: no
Depends: python3, python3-requests, python3-bs4
Maintainer: trystone <trystanadrian96@gmail.com>
Description: Google Dorking Tool
 A tool for security professionals to perform Google dorking
 to find sensitive information exposed on the web.

